.skills-flex {
    display: flex;
    justify-content: center;
    width: 100vw;
    margin-top: 15px;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 20px;
    padding-top: 20px;
    
}

#skills {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    color:rgb(196, 133, 255);
    max-width: 1000px;
    margin-left: 50px;
    margin-right: 50px;
}

#skills-p {
    padding-left: 7.5px;
    padding-right: 7.5px;
    margin-bottom: 10px;
    font-size: 24px;
}

.aecom-deets {
    text-align: right;
}

.aecom-desc { 
    text-align: left;
}

.logo-exp {
    height: 9rem;
    border-style: solid;
    border-color: white;
    border-radius: 5rem;
    border-width: 0.25rem;
}

.logo-exp:hover {
    border-color: rgb(234, 0, 255);
}

@media screen and (max-width: 767px) {
    .logo-exp {
        height: 7rem;
    }
}