.home-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 100%;
    padding-bottom: 40px;
}

.home-container {
    border: solid 5px;
    border-image: linear-gradient(to bottom right, rgb(0, 170, 255) 5%, rgb(39, 39, 253) 25%, rgb(111, 0, 255) 50%, rgb(39, 39, 253) 75%, rgb(0, 170, 255) 100%) 1;
    background-size: 200% 200%;
    animation: movingGradient 7.5s linear infinite;

    width: 75vw;
    height: 25vh;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;

    text-align: center;
    padding-top: 5px;
}

#hello {
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(to bottom, rgb(0, 170, 255) 5%, rgb(39, 39, 253) 25%, rgb(111, 0, 255) 50%, rgb(39, 39, 253) 75%, rgb(0, 170, 255) 95%);
    color: transparent;
    background-size: 1200% 1200%;
    animation: movingGradient 7.5s linear infinite;

    text-decoration: none;
    font-size: 70px !important;
    -webkit-text-stroke: 0px;
}

@keyframes movingGradient {
    from {background-position: 0 0;}
    to {background-position: 100% 100%;}
}