.home-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    border: solid 10px;
    border-image: linear-gradient(to bottom right, rgb(0, 170, 255) 5%, rgb(39, 39, 253) 25%, rgb(111, 0, 255) 50%, rgb(39, 39, 253) 75%, rgb(0, 170, 255) 100%) 1;
    background-size: 200% 200%;

    width: 90vw;
    height: 55vh;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    top: 15px;

    color: rgb(111, 0, 255);
    text-align: center;
    padding: 0px 5px 20px 5px;
}

#hello {
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(to bottom, rgb(0, 170, 255) 5%, rgb(39, 39, 253) 30%, rgb(80, 0, 255) 50%, rgb(39, 39, 253) 70%, rgb(0, 170, 255) 95%);
    color: transparent;
    background-size: 1300% 1300%;
    animation: movingGradient 10s linear infinite;

    text-decoration: none;
    font-size: 100px !important;
    margin: 0;
    -webkit-text-stroke: 0px;
}

.bio-container {
    display: flex;
}

.bio-word {
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(to bottom, rgb(0, 170, 255) 5%, rgb(39, 39, 253) 30%, rgb(80, 0, 255) 50%, rgb(39, 39, 253) 70%, rgb(0, 170, 255) 95%);
    color: transparent;
    background-size: 1300% 1300%;
    animation: movingGradient 10s linear infinite;
    -webkit-text-stroke: 0px;

    padding-left: 5px;
    padding-right: 5px;
}

@keyframes movingGradient {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 100% 100%;
    }
}

#my-name {
    font-size: 38px;
    font-weight: bold;
}

#jt {
    font-size: 48px;
    padding: 0;
}

#small-text {
    font-size: 24px;
    font-weight: bold;
}

#bio {
    font-size: 48px;
    font-weight: bold;
}

/* .show {
    animation: spin 7.5s infinite linear;
    display: inline-block;

    padding-bottom: 5px;
    padding-left: 2px;
} */

.no-show {
    display: none;
    /* padding-bottom: 5px;
    padding-left: 2px; */
}

/* @keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
} */

@media screen and (max-width: 1190px) {
    .home-container {
        top: 60px;
    }

    .bio-container {
        display: flex;
        flex-direction: column;
    }

    .no-show {
        animation: spin 7.5s infinite linear;
        display: inline-block;
    }
}

@media screen and (max-width: 767px) {
    #hello {
        font-size: 70px !important;
    }

    #my-name {
        font-size: 26px;
        display: flex;
        flex-direction: column;
    }

    #jt {
        font-size: 40px;
        padding: 0;
    }

    #small-text {
        font-size: 18px;
    }

    #bio {
        font-size: 32px;
    }
}

@media screen and (max-width: 425px) {
    .home-container {
        top: 25px;
    }
    
    #hello {
        font-size: 75px !important;
    }

    #my-name {
        font-size: 24px;
    }

    #jt {
        font-size: 38px;
    }

    #small-text {
        font-size: 18px;
    }

    #bio {
        font-size: 28px;
    }
}

@media screen and (max-width: 380px) {
    #hello {
        font-size: 55px !important;
    }

    #my-name {
        font-size: 20px;
    }

    #jt {
        font-size: 32px;
    }

    #small-text {
        font-size: 14px;
    }

    #bio {
        font-size: 22px;
    }
}

@media screen and (max-width: 310px) {
    .home-container {
        top: 50px;
    }
    
    #hello {
        font-size: 50px !important;
    }

    #my-name {
        font-size: 16px;
    }

    #jt {
        font-size: 28px;
    }

    #small-text {
        font-size: 12px;
    }

    #bio {
        font-size: 18px;
    }
}