.music-play {
    display: flex;
    flex-direction: column;
}

.tables-table-container {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.table-container {
    border: solid 10px;
    border-image: linear-gradient(to bottom right, rgb(0, 170, 255) 5%, rgb(39, 39, 253) 25%, rgb(111, 0, 255) 50%, rgb(39, 39, 253) 75%, rgb(0, 170, 255) 100%) 1;
    background-size: 200% 200%;

    height: 185px;

    overflow-y: scroll;
    overflow-x: hidden;
}

.table-container::-webkit-scrollbar {
    width: 7.5px;
}

.table-container::-webkit-scrollbar-track {
    background-color: black;
}

.table-container::-webkit-scrollbar-thumb {
    background-color: rgb(196, 133, 255);
    border-radius: 5px 5px;
}

.music-table {
    text-align: center;
    width: 75vw;
    background-color: black;
}

thead {
    color: rgb(196, 133, 255);
    background-color: black;
    font-size: 24px;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    z-index: 100;
}

td {
    padding: 7.5px;
    font-size: 18px;
}

.music-link {
    color: white;
}

.music-link:hover {
    color: rgb(234, 0, 255);
}

/* tbody tr:nth-child(even) {
    background-color: rgb(111, 0, 255);
} */

tbody {
    text-align: center;
}

.music-row:hover {
    background-color: rgb(111, 0, 255);
    cursor: pointer;
}

.form-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.suggestion-form {
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.90);
    border: solid rgb(196, 133, 255);
    border-radius: 20px;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
}

.music-label {
    color: rgb(196, 133, 255);
    font-size: 24px;
}

.input {
    background-color: black;
    color: white;
    border: solid 3px rgb(111, 0, 255);
}

.music-button {
    display: inline-block;
    padding: 15px 15px;
    margin-bottom: 10px;

    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: rgb(196, 133, 255);    
    background-color: black;
    border: solid rgb(111, 0, 255);
    border-radius: 15px;
    box-shadow: 2px 2px rgb(111, 0, 255);
}

#form-button {
    width: 125px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: -5px;
}

.music-button:hover {
    color: rgb(234, 0, 255);
    border-color: rgb(234, 0, 255);
    box-shadow: 2px 2px rgb(234, 0, 255);
}

.music-button:active {
    color: rgb(234, 0, 255);
    border-color: rgb(234, 0, 255);
    transform: translateY(2px);
    box-shadow: 0px 0px;
}

.music-button:focus {
    border-color: rgb(234, 0, 255);
    transform: translateY(2px);
    box-shadow: 0px 0px;
}