.in-progress {
    text-align: center;
}

.table_container {
    height: 10vh;
    overflow-y: scroll;
}

.table-container::-webkit-scrollbar {
    width: 0px;
}

.table-container::-webkit-scrollbar-track {
    background-color: rgb(212, 212, 212);
}

.table-container::-webkit-scrollbar-thumb {
    background-color: #00b2ff;
    border-radius: 5px 5px;
}

.music-table {
    text-align: center;
    width: 100vw;
}

.table-head {
    color: rgb(196, 133, 255);
    font-size: 24px;
}

.table-head {
    border-bottom: 3px solid white;
}

td {
    padding: 5px;
}

.music-link {
    color: white;
}

tbody tr:nth-child(even) {
    background-color: rgb(111, 0, 255);
}

tbody {
    text-align: center;
}

.music-row:hover {
    background-color: rgb(0, 170, 255);
    cursor: pointer;
    
}

.form-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 20px;
}

.suggestion-form {
    display: flex;
    flex-direction: column;
    width: 300px;
  
}

.music-label {
    color: rgb(196, 133, 255);
    font-size: 24px;
}