.navbar {
    background-image: linear-gradient(to bottom right, rgb(0, 170, 255) 10%, rgb(39, 39, 253) 50%, rgb(111, 0, 255) 75%, rgb(196, 133, 255) 100%);
    background-size: 200% 200%;
    animation: movingGradient 10s linear infinite alternate;

    position: absolute;
    width: 100vw;
    top: 0;
}

@keyframes movingGradient {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 100% 100%;
    }
}

.navbar::before {
    position: absolute;
    content: "";
    padding-top: 30px;
    width: 100vw;
    bottom: 0;
    left: 0;
    background: linear-gradient(transparent 25%, black 100%);
}

.navbar-container {
    width: 100vw;
    color: white;
    font-size: 1.25rem;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.flex-left {
    display: flex;
    justify-content: space-evenly;
    flex-grow: 1;
    width: 45vw;
}

.flex-right {
    display: flex;
    justify-content: space-evenly;
    flex-grow: 1;
    width: 45vw;
}

#link {
    display: inline-block;
    width: 155px;
    padding: 0px 5px 5px 5px;
    margin-bottom: 10px;

    cursor: pointer;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: white;    
    background-color: rgb(111, 0, 255);
    border: solid black;
    border-radius: 10px;
    box-shadow: 3px 3px black;
}

#link:active {
    box-shadow: 0px 0px;
    transform: translateY(3px);
}

#link:hover {
    background-color: rgb(234, 0, 255);
}

#link:focus {
    background-color: rgb(234, 0, 255);
    box-shadow: 0px 0px;
    transform: translateY(3px);
}

#logo {
    height: 7rem;
    border-style: solid;
    border-color: black;
    border-radius: 5rem;
    border-width: 0.25rem;
}

#logo:hover {
    border-color: rgb(234, 0, 255);
}

@media screen and (max-width: 1190px) {
    .flex-left {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        flex-grow: 1;
        margin-left: 40px;
    }

    .flex-right {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        flex-grow: 1;
        margin-right: 40px;
    }

    #link {
        font-size: 26px;
    }
}

@media screen and (max-width: 767px) {
    .flex-left {
        align-items: flex-start;
    }

    .flex-right { 
        align-items: flex-end;
    }

    #link {
        font-size: 24px;
        width: 140px;
    }

    #logo {
        height: 6.5rem;
    }
}

@media screen and (max-width: 510px) {
    .flex-left {
        margin-left: 0px;
    }

    .flex-right {
        margin-right: 0px;
    }
}


@media screen and (max-width: 425px) {
    #link {
        font-size: 18px;
        padding: 0px 0px 0px 0px;
        width: 105px;
    }
    
    #logo {
        height: 6rem;
    }
}

@media screen and (max-width: 340px) {
    #link {
        font-size: 14px;
        width: 90px;
    }
    
    #logo {
        height: 4rem;
    }
}