.photos {
    text-align: center;
    margin-bottom: 50px;
}

.photo {   
    width: 70vw;
    padding: 10px
}

.photo-desc {
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.90);
    border: solid rgba(255, 255, 255, 0.75);
    border-radius: 20px;
    padding: 7.5px;
    width: fit-content;
}


