.photos {
    text-align: center;
    margin-bottom: 50px;

    animation: appear 2s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

@keyframes appear {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.photo {
    width: 52.5vw;
    padding: 10px;
    border-radius: 25px;
}

.photo-desc {
    font-size: 28px !important;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.85);
    border: solid rgb(196, 133, 255);
    border-radius: 15px;
    padding: 7.5px;
    width: fit-content;
}

@media screen and (max-width: 1190px) {
    .photo-desc {
        font-size: 26px !important;
    }
}

@media screen and (max-width: 900px) {
    .photo {
        width: 70vw;
    }

    .photo-desc {
        font-size: 24px !important;
    }
}

@media screen and (max-width: 775px) {
    .photo-desc {
        font-size: 22px !important;
    }
}

@media screen and (max-width: 510px) {
    .photo-desc {
        font-size: 18px !important;
    }
}

@media screen and (max-width: 425px) {
    .photo-desc {
        font-size: 16px !important;
    }
}

@media screen and (max-width: 350px) {
    .photo-desc {
        font-size: 12px !important;
    }
}